<html>
	<head>
		<title>{{t}}</title>
		<link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='assets/style.css')}}" >
	</head>
<body>
	<h1>{{h}}</h1>
	<hr>
	{% if todos[0] %}
	<h3>Resultado da busca : Lista de tarefas</h3>
	<table>
	    <tr id="row">
	    	<td class="status">Status</td>
	    	<td class="name">Nome da tarefa</td>
	    	<td class="desc">Descrição</td>
	    	<td class="date">Data</td>
	    	<td class="pr">Prioridade</td>
		<td class="func">Remover</td>
		<td class="func">Editar</td>
	    </tr>
		{% for todo in todos %}
		<tr class="datas">
			<td><a href="./done?_id={{ todo['_id'] }}"><input type="image" src="static/images/{{todo['done']}}.png" alt="Submit ME"></a></td>
			<td class="name">{{ todo["name"] }}</td>
			<td class="desc">{{ todo["desc"] }}</td>
			<td class="date">{{ todo["date"] }}</td>
			<td class="pr">{{ todo["pr"] }}</td>
			<td class="func1"><a href="./remove?_id={{ todo['_id'] }}"><button type="submit">REMOVER</button></a></td>
			<td class="func1"><a href="./update?_id={{ todo['_id'] }}"><button type="submit">EDITAR</button></a></td>
		</tr>
		{% endfor %}
	{% else %}
		<h4>Nenhum resultado encontrado !!</h4>
	{% endif %}
	</table>
	<a href="/">Retornar para a lista de tarefas</a>
</body>
</html>